<nav class="menu">
	<a href="#/" class="menu-link active">
		<svg class="icon icon-menu-offers">
			<title>Ofertas</title>
			<use xlink:href="#icon-menu-offers"></use>
		</svg>
		<strong class="menu-link-name">
			Ofertas
		</strong>
	</a>
	<a href="#/alerts" class="menu-link">
		<svg class="icon icon-menu-alerts">
			<title>Alertas</title>
			<use xlink:href="#icon-menu-alerts"></use>
		</svg>
		<strong class="menu-link-name">
			Alertas
		</strong>
	</a>
	<a href="#/publish" class="menu-link">
		<svg class="icon icon-menu-add">
			<title>Adicionar Oferta</title>
			<use xlink:href="#icon-menu-add"></use>
		</svg>
	</a>
	<a href="#/favorites" class="menu-link">
		<svg class="icon icon-menu-pig">
			<title>Favoritos</title>
			<use xlink:href="#icon-menu-pig"></use>
		</svg>
		<strong class="menu-link-name">
			Favoritos
		</strong>
	</a>
	<a href="#" class="menu-link">
		<svg class="icon icon-menu-user">
			<title>Perfil</title>
			<use xlink:href="#icon-menu-user"></use>
		</svg>
		<strong class="menu-link-name">
			Perfil
		</strong>
	</a>
</nav>
