* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
	min-height: 100%;
}

$font: 'Nunito', 'Arial';

body {
	font-family: $font;
	background-color: #f9f4fa;
	color: $black;
	overflow-x: hidden;
}

main {
	min-height: calc(100vh - 54px);
    padding-bottom: 54px;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;

    &:focus {
        outline: 0;
    }
}

input,
textarea {
    font-family: $font;
    font-size: 14px;
    color: $black;
    border: none;
    background-color: transparent;

    &:focus {
        outline: 0;
    }
}
