// Phone small - Extra small screen
$phone-small-min:    360px;
$phone-small-max:    359px;

// Phone - Small screen
$phone-min:        480px;
$phone-max: 	   479px;

// Phone - Small screen
$phone-large-min: 600px;
$phone-large-max: 599px;

// Tablet - Small screen
$tablet-min: 	768px;
$tablet-max: 	767px;

// Desktop - Medium screen
$desktop-min: 	1000px;
$desktop-max: 	999px;

// Desktop Widescreen - Large screen
$monitor-min: 	1200px;
$monitor-max:	1199px;
