<form id="search" class="search">
    <a href="#" class="search-back js-btnSearch-close">
        <svg class="icon icon-close">
            <use xlink:href="#icon-close"></use>
        </svg>
    </a>

    <button type="button" class="search-btnSearch">
		<svg class="icon icon-search">
			<use xlink:href="#icon-search"></use>
		</svg>
	</button>

    <input type="search" class="search-input" id="search-input" placeholder="O que procura?" required>

    <div class="search-recentList-container">
        <strong class="search-recentList-title">
            Buscas recentes
        </strong>
        <button type="button" name="button" class="search-recentList-btnClear">
            Limpar
        </button>

        <ul class="search-recentList">
            <li>
                CHURRASQUEIRA
                <button type="button" name="button" class="search-recentList-remove">
                    <svg class="icon icon-close">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </li>
            <li>
                CAMISETAS
                <button type="button" name="button" class="search-recentList-remove">
                    <svg class="icon icon-close">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </li>
            <li>
                LIVROS COLORIR
                <button type="button" name="button" class="search-recentList-remove">
                    <svg class="icon icon-close">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </li>
            <li>
                LIVROS COLORIR
                <button type="button" name="button" class="search-recentList-remove">
                    <svg class="icon icon-close">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </li>
            <li>
                LIVROS COLORIR
                <button type="button" name="button" class="search-recentList-remove">
                    <svg class="icon icon-close">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </li>
            <li>
                LIVROS COLORIR
                <button type="button" name="button" class="search-recentList-remove">
                    <svg class="icon icon-close">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </li>
            <li>
                LIVROS COLORIR
                <button type="button" name="button" class="search-recentList-remove">
                    <svg class="icon icon-close">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </li>
            <li>
                LIVROS COLORIR
                <button type="button" name="button" class="search-recentList-remove">
                    <svg class="icon icon-close">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </li>
            <li>
                LIVROS COLORIR
                <button type="button" name="button" class="search-recentList-remove">
                    <svg class="icon icon-close">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </li>
            <li>
                LIVROS COLORIR
                <button type="button" name="button" class="search-recentList-remove">
                    <svg class="icon icon-close">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</form>
