<header class="header">
    <a href="#/" class="header-action">
        <svg class="icon icon-back">
            <use xlink:href="#icon-back"></use>
        </svg>
    </a>

    <h1 class="header-title">
        Alertas
    </h1>

    <button class="header-btnSearch js-btnSearch">
        <svg class="icon icon-search">
            <use xlink:href="#icon-search"></use>
        </svg>
    </button>
</header>

<main class="alertsMain">
    <article class="alerts">
        <figure class="alerts-imgUser">
            <img src="assets/img/exemplo/user.png" alt="Felipe" width="44" height="44">
        </figure>
        <p class="alerts-info">
            <strong class="alerts-userName">
                felipe teixeira
            </strong>
            favoritou a sua oferta.

            <strong class="alerts-time">
                 há 1 minuto
            </strong>
        </p>
        <figure class="alerts-imgOffer">
            <img src="assets/img/exemplo/oferta-2.jpg" alt="Oferta" height="40" width="40">
        </figure>
    </article>

    <article class="alerts">
        <figure class="alerts-imgUser">
            <img src="assets/img/exemplo/user.png" alt="Felipe" width="44" height="44">
        </figure>
        <p class="alerts-info">
            <strong class="alerts-userName">
                Renan Goulart
            </strong>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor
            <strong class="alerts-time">
                 há 1 minuto
            </strong>
        </p>
        <figure class="alerts-imgOffer">
            <img src="assets/img/exemplo/oferta-2.jpg" alt="Oferta" height="40" width="40">
        </figure>
    </article>
</main>

<div data-ng-include="'views/partials/menu.html'"></div>
