<header class="header">
    <a href="/" class="header-action">
        <svg class="icon icon-back">
            <use xlink:href="#icon-back"></use>
        </svg>
    </a>

    <h1 class="header-title">
        Favoritos
    </h1>

    <button class="header-btnSearch js-btnSearch">
        <svg class="icon icon-search">
            <use xlink:href="#icon-search"></use>
        </svg>
    </button>
</header>

<main class="favoritesMain">
	<section class="offer-list clear">
	    <ul>
	        <li class="offer">
	            <a href="/offer">
	                <img src="assets/img/exemplo/oferta-1.jpg" alt="Oferta 1" class="offer-img">
	            </a>

	            <div class="offer-body">
	                <strong class="offer-body-price">
	                    R$ 20,94
	                </strong>
	                <h3 class="offer-body-description">
	                    Corona 355ml (6 un.)
	                </h3>

	                <a href="#location" class="offer-body-location">
	                    <svg class="icon icon-map">
	                        <use xlink:href="#icon-map"></use>
	                    </svg>
	                    Pão de Açúcar
	                </a>
	                <div class="offer-actions clear">
	                    <a href="/comments" class="offer-actions-btn">
	                        <svg class="icon icon-comment">
	                            <use xlink:href="#icon-comment"></use>
	                        </svg>
	                        <span class="offer-actions-btn-count">
	                            54
	                        </span>
	                    </a>
	                    <a href="#like" class="offer-actions-btn active">
	                        <svg class="icon icon-pig">
	                            <use xlink:href="#icon-pig"></use>
	                        </svg>
	                        <span class="offer-actions-btn-count">
	                            433
	                        </span>
	                    </a>
	                </div>
	            </div>
	        </li>
	        <li class="offer">
	            <a href="/offer">
	                <img src="assets/img/exemplo/oferta-1.jpg" alt="Oferta 1" class="offer-img">
	            </a>

	            <div class="offer-body">
	                <strong class="offer-body-price">
	                    R$ 20,94
	                </strong>
	                <h3 class="offer-body-description">
	                    Corona 355ml (6 un.)
	                </h3>

	                <a href="#location" class="offer-body-location">
	                    <svg class="icon icon-map">
	                        <use xlink:href="#icon-map"></use>
	                    </svg>
	                    Pão de Açúcar
	                </a>
	                <div class="offer-actions clear">
	                    <a href="/comments" class="offer-actions-btn">
	                        <svg class="icon icon-comment">
	                            <use xlink:href="#icon-comment"></use>
	                        </svg>
	                        <span class="offer-actions-btn-count">
	                            54
	                        </span>
	                    </a>
	                    <a href="#like" class="offer-actions-btn active">
	                        <svg class="icon icon-pig">
	                            <use xlink:href="#icon-pig"></use>
	                        </svg>
	                        <span class="offer-actions-btn-count">
	                            433
	                        </span>
	                    </a>
	                </div>
	            </div>
	        </li>
	        <li class="offer">
	            <a href="/offer">
	                <img src="assets/img/exemplo/oferta-1.jpg" alt="Oferta 1" class="offer-img">
	            </a>

	            <div class="offer-body">
	                <strong class="offer-body-price">
	                    R$ 20,94
	                </strong>
	                <h3 class="offer-body-description">
	                    Corona 355ml (6 un.)
	                </h3>

	                <a href="#location" class="offer-body-location">
	                    <svg class="icon icon-map">
	                        <use xlink:href="#icon-map"></use>
	                    </svg>
	                    Pão de Açúcar
	                </a>
	                <div class="offer-actions clear">
	                    <a href="/comments" class="offer-actions-btn">
	                        <svg class="icon icon-comment">
	                            <use xlink:href="#icon-comment"></use>
	                        </svg>
	                        <span class="offer-actions-btn-count">
	                            54
	                        </span>
	                    </a>
	                    <a href="#like" class="offer-actions-btn active">
	                        <svg class="icon icon-pig">
	                            <use xlink:href="#icon-pig"></use>
	                        </svg>
	                        <span class="offer-actions-btn-count">
	                            433
	                        </span>
	                    </a>
	                </div>
	            </div>
	        </li>
	        <li class="offer">
	            <a href="/offer">
	                <img src="assets/img/exemplo/oferta-1.jpg" alt="Oferta 1" class="offer-img">
	            </a>

	            <div class="offer-body">
	                <strong class="offer-body-price">
	                    R$ 20,94
	                </strong>
	                <h3 class="offer-body-description">
	                    Corona 355ml (6 un.)
	                </h3>

	                <a href="#location" class="offer-body-location">
	                    <svg class="icon icon-map">
	                        <use xlink:href="#icon-map"></use>
	                    </svg>
	                    Pão de Açúcar
	                </a>
	                <div class="offer-actions clear">
	                    <a href="/comments" class="offer-actions-btn">
	                        <svg class="icon icon-comment">
	                            <use xlink:href="#icon-comment"></use>
	                        </svg>
	                        <span class="offer-actions-btn-count">
	                            54
	                        </span>
	                    </a>
	                    <a href="#like" class="offer-actions-btn active">
	                        <svg class="icon icon-pig">
	                            <use xlink:href="#icon-pig"></use>
	                        </svg>
	                        <span class="offer-actions-btn-count">
	                            433
	                        </span>
	                    </a>
	                </div>
	            </div>
	        </li>
	        <li class="offer">
	            <a href="/offer">
	                <img src="assets/img/exemplo/oferta-1.jpg" alt="Oferta 1" class="offer-img">
	            </a>

	            <div class="offer-body">
	                <strong class="offer-body-price">
	                    R$ 20,94
	                </strong>
	                <h3 class="offer-body-description">
	                    Corona 355ml (6 un.)
	                </h3>

	                <a href="#location" class="offer-body-location">
	                    <svg class="icon icon-map">
	                        <use xlink:href="#icon-map"></use>
	                    </svg>
	                    Pão de Açúcar
	                </a>
	                <div class="offer-actions clear">
	                    <a href="/comments" class="offer-actions-btn">
	                        <svg class="icon icon-comment">
	                            <use xlink:href="#icon-comment"></use>
	                        </svg>
	                        <span class="offer-actions-btn-count">
	                            54
	                        </span>
	                    </a>
	                    <a href="#like" class="offer-actions-btn active">
	                        <svg class="icon icon-pig">
	                            <use xlink:href="#icon-pig"></use>
	                        </svg>
	                        <span class="offer-actions-btn-count">
	                            433
	                        </span>
	                    </a>
	                </div>
	            </div>
	        </li>

	    </ul>
	</section>
</main>

<div data-ng-include="'views/partials/menu.html'"></div>
