<main class="login">
    <h1 class="login-title">
        O caminho mais curto para os descontos
    </h1>
    <img src="assets/img/offy-logo.svg" alt="Offy - caminho mais curto para os descontos" width="164">
    <div class="login-btn">
        <button class="btn btn-blue">
            Entrar com facebook
        </button>
        <button class="btn btn-white">
            Entrar com e-mail
        </button>
        <button class="btn btn-black">
            não tenho conta
        </button>
    </div>
</main>
