<header class="publishHeader">
    <a href="#/login" class="header-action header-action-purple">
        <svg class="icon icon-back">
            <use xlink:href="#icon-back"></use>
        </svg>
    </a>

    <a href="#" class="publishHeader-action">
        <svg class="icon icon-clear">
            <use xlink:href="#icon-clear"></use>
        </svg>
    </a>
    <a href="#" class="publishHeader-action">
        <svg class="icon icon-repeat">
            <use xlink:href="#icon-repeat"></use>
        </svg>
    </a>
    <a href="#" class="publishHeader-action">
        <svg class="icon icon-check">
            <use xlink:href="#icon-check"></use>
        </svg>
    </a>
</header>

<main class="publishMain">

    <section class="publish-progress">
        <svg class="icon icon-pig">
            <use xlink:href="#icon-pig"></use>
        </svg>

        <span class="publish-progress-iconHidden">
            <svg class="icon icon-pig">
                <use xlink:href="#icon-pig"></use>
            </svg>
        </span>
    </section>

    <section class="publish publishStep-maxWidth">

        <h1 class="publish-title">
            Boa! Uma oferta!
        </h1>

        <h2 class="publish-subtitle">
            Primeiro, tire uma foto do produto com a etiqueta do preço
            indicando a promoção:
        </h2>

        <figure class="imgAdd">
            <svg class="icon icon-add-photo">
                <use xlink:href="#icon-add-photo"></use>
            </svg>
        </figure>

        <button class="btn btn-purple" ng-click="publishStep2 = true">
            Próxima etapa!
        </button>

    </section>

    <section class="publish publishStep-maxWidth">

        <h1 class="publish-title">
            Aí sim!
        </h1>

        <h2 class="publish-subtitle">
            Tudo certo? A foto do produto mostra a
            etiqueta do preço indicando a promoção
        </h2>

        <img src="assets/img/exemplo/publicar-ex-oferta.png" alt="Oferta" class="publish-imgOffer">

        <button class="btn btn-purple">
            Próxima etapa!
        </button>

    </section>

    <section class="publish publishStep-maxWidth">

        <h1 class="publish-title">
            Escolha uma categoria
        </h1>

        <h2 class="publish-subtitle">
            Qual delas combina mais com a <br> oferta que você está publicando?
        </h2>

        <ul class="category">
            <li class="category-type">
                <svg class="icon icon-cat-food">
                    <use xlink:href="#icon-cat-food"></use>
                </svg>
                <strong class="category-type-name">
                    Alimentos
                </strong>
            </li>
            <li class="category-type">
                <svg class="icon icon-cat-drink">
                    <use xlink:href="#icon-cat-drink"></use>
                </svg>
                <strong class="category-type-name">
                    Bebidas
                </strong>
            </li>
            <li class="category-type">
                <svg class="icon icon-cat-shoe active">
                    <use xlink:href="#icon-cat-shoe"></use>
                </svg>
                <strong class="category-type-name">
                    Calçados
                </strong>
            </li>
            <li class="category-type">
                <svg class="icon icon-cat-home">
                    <use xlink:href="#icon-cat-home"></use>
                </svg>
                <strong class="category-type-name">
                    Casa
                </strong>
            </li>
            <li class="category-type">
                <svg class="icon icon-cat-electronic">
                    <use xlink:href="#icon-cat-electronic"></use>
                </svg>
                <strong class="category-type-name">
                    Eletrônicos
                </strong>
            </li>
            <li class="category-type">
                <svg class="icon icon-cat-game">
                    <use xlink:href="#icon-cat-game"></use>
                </svg>
                <strong class="category-type-name">
                    Games
                </strong>
            </li>

        </ul>

        <button class="btn btn-purple">
            Próxima etapa!
        </button>

    </section>

    <section class="publish" ng-show="true">

        <h1 class="publish-title">
            Estamos quase la!
        </h1>

        <h2 class="publish-subtitle">
            Coloque o nome do produto, seu preço,
            <br>
            e o lugar onde a oferta acontece!
        </h2>

        <section class="publish-imgOptions">
            <img src="assets/img/exemplo/publicar-ex-oferta.png" alt="Oferta" class="publish-imgOptions-image">

            <div class="publish-imgOptions-action">
                <button class="btnCircle">
                    <svg class="icon icon-repeat">
                        <use xlink:href="#icon-repeat"></use>
                    </svg>
                </button>
                <button class="btnCircle">
                    <svg class="icon icon-clear">
                        <use xlink:href="#icon-clear"></use>
                    </svg>
                </button>
            </div>
        </section>

        <section class="publishStep-maxWidth">
            <div class="inputGroup" for="nameProduct">
                <label for="nameProduct" class="inputGroup-label">
                    Nome do Produto
                </label>
                <input type="text" id="nameProduct" class="inputGroup-field">
            </div>

            <div class="inputGroup">
                <label class="inputGroup-label" for="descriptionProduct">
                    Descrição
                    <small>
                        (opcional)
                    </small>
                </label>
                <input type="text" id="descriptionProduct" class="inputGroup-field">
            </div>

            <div class="inputGroup">
                <label class="inputGroup-label" for="priceProduct">
                    Preço
                </label>
                <input type="number" id="priceProduct" class="inputGroup-field">
            </div>

        </section>

        <div class="publish-location">
            <button class="btn btn-white">
                <svg class="icon icon-map">
    		        <use xlink:href="#icon-map"></use>
    		    </svg>
                Carrefour vila clementino
            </button>
        </div>

        <button class="btn btn-purple publishStep-maxWidth">
            Publicar Oferta!
        </button>

    </section>

</main>
