
main.alertsMain {
    padding-top: 56px;
}

.alerts {
    padding: 12px;
    display: flex;
    align-items: center;


    &:nth-child(even) {
        background-color: #f4eaf5;
    }
}

.alerts-info {
    font-size: 12px;
    width: calc(100% - 80px);
    margin-left: auto;
    padding: 0 12px;

}

.alerts-imgUser {
    width: 44px;
    margin-right: auto;

    img {
        border-radius: 50%;
        display: block;
    }
}

.alerts-userName {
    font-weight: 900;
    text-transform: uppercase;
    color: $purple;
}

.alerts-imgOffer {
    width: 40px;
    margin-left: auto;

    img {
        display: block;
    }
}

.alerts-time {
    color: #808080;
    font-size: 10px;
    display: block;
}
