.commentsMain {
    padding: 58px 16px;
}

.comments {
    padding: 0 0 18px;
    display: flex;

    .comments-info {
        background-color: #FFF;
        border-radius: 20px;
        padding: 16px 20px;
        width: calc(100% - 44px - 14px);
        margin-left: auto;
        position: relative;

        .comments-userName {
            font-size: 10px;
            color: $purple;
            font-weight: 900;
            display: inline-block;
            text-transform: uppercase;
        }

        .comments-time {
            font-size: 10px;
            color: #999;

            &:before {
                content: "-"
            }
        }

        &:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            position: absolute;
            left: -6px;
            top: 30px;

            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 6px solid #FFF;
        }
    }

    .comments-img {
        width: 44px;
        margin-top: 12px;
        margin-right: auto;

        img {
            border-radius: 50%;
        }
    }

    &.comments-userSpeak {
        flex-direction: row-reverse;

        .comments-info {
            background-color: #e3cce6;
            margin-right: auto;
            margin-left: inherit;

            &:before {
                right: -6px;
                left: inherit;
                border: none;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 6px solid #e3cce6;
            }
        }

        .comments-img {
            margin-right: inherit;
            margin-left: auto;
        }
    }
}

.commentsAdd {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #FFF;
    padding-left: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;

    .icon-comment {
        width: 34px;
        height: 34px;
        fill: #e6e6e6;
        margin-top: 8px;
    }

    .commentsAdd-input {
        border: none;
        resize: none;
        width: calc(100% - 100px);
        padding: 24px 0 0 20px;

        &::-webkit-input-placeholder {
		    color: #CCC;
		}

		&:-moz-placeholder {
		    color: #CCC;
		}

		&::-moz-placeholder {
		    color: #CCC;
		}

		&:-ms-input-placeholder {
		    color: #CCC;
		}
    }

    .commentsAdd-btn {
        margin-left: auto;
        width: 60px;
        // ALTURA MAIOR POIS QUANDO ABRE NO TECLADO (CELULAR) DESALINHA
        height: 70px;
        background-color: $purple;

        .icon {
            width: 24px;
            height: 24px;
            fill: #FFF;
            margin-top: 8px;
        }
    }
}
