.loginCreateAccount {
    background-color: #4d4d4d;
    height: 100%;
    min-height: 100vh;
    text-align: center;
    padding-top: 50px;
}

.loginCreateAccount-title {
    color: #FFF;
    font-weight: 900;
    text-transform: uppercase;
    max-width: 140px;
    font-size: 16px;
    margin: 40px auto 0;
}

.loginCreateAccount-inputGroup {
    max-width: 214px;
    margin: 0 auto 16px;

    &:first-child {
        margin-top: 40px;
    }

    .icon {
        fill: #FFF;
    }

    .inputGroup-field {
        color: #FFF;
        border-color: #FFF;
        @include inputPlaceholder(#fff);
    }

    .icon-eye {
        fill: #686868;
        width: 22px;
        height: 22px;
    }
}

.loginCreateAccount-btnCreate {
    width: 148px;
    margin: auto;
}

.loginCreateAccount-checkbox {
    margin: 30px auto;
}
