.login {
    background: url(../img/login.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    text-align: center;
}

.login-title {
    font-size: 12px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: normal;
    max-width: 170px;
    margin: 0 auto;
    padding: 40px 0;
}

.login-actionBtns {
    margin-top: 160px;
}

.login-btn {
    margin: 8px auto;
    display: inline-block;
    max-width: 250px;
}

// INPUT EMAIL
.login-inputGroup {
    max-width: 214px;
    margin: 0 auto 16px;

    &:first-child {
        margin-top: 76px;
    }

    .icon {
        fill: #FFF;
    }

    .inputGroup-field {
        color: #FFF;
        border-color: #e5d6e6;
        @include inputPlaceholder(#e5d6e6);
    }

    .icon-eye {
        fill: #b674ba;
        width: 22px;
        height: 22px;
    }
}

.login-btnEnter {
    max-width: 150px;
    margin: auto;
}

.login-forgotPassword,
.login-notAccount {
    font-size: 11px;
    color: #FFF;
    font-weight: bold;
    display: block;
}

.login-forgotPassword {
    margin: 14px auto 40px;
}

.login-notAccount {
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 30px;
}
