.publishMain {
    background-color: #fff;
}

// HEADER
.publishHeader {
    background-color: #fff;
    display: flex;
    align-items: center;
    text-align: right;
}

.publishHeader-action {
    display: inline-flex;
    padding: 10px 12px;
    display: none;

    .icon {
        width: 16px;
        height: 16px;
    }
}

.publishHeader-border {
    border-bottom: 1px solid #dddddd;

    .arrowBack {
        padding: 10px 12px;
    }
}
// !HEADER

// PROGRESS
.publish-progress {
    width: 44px;
    position: relative;
    text-align: center;
    margin: auto;

    .icon-pig {
        width: 44px;
        height: 44px;
        fill: #e6e6e6;
    }
}

.publish-progress-iconHidden {
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    overflow: hidden;

    .icon-pig {
        fill: $purple;
    }
}

.publish-progress-iconHidden-2 {
    width: 20px;
}

.publish-progress-iconHidden-3 {
    width: 24px;
}

.publish-progress-iconHidden-4 {
    width: 36px;
}


// !PROGRESS

// PUBLISH GENERAL
.publish {
    color: $black;
    text-align: center;
    margin: auto;
}

.publish-title {
    font-size: 18px;
}

.publish-subtitle {
    font-size: 14px;
    font-weight: normal;
}

.publish-imgOffer {
    margin: 30px auto;
    max-width: calc(100% - 64px);
}

.publishStep-maxWidth {
    width: 264px;
    margin: auto;
}
// !PUBLISH GENERAL


// STEP FINSH
.publish-imgOptions {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 20px auto 50px;
    border: 2px dashed #e7d2ea;
    border-radius: 10px;
}

.publish-imgOptions-image {
    border-radius: 10px;
}

.publish-imgOptions-action {
    position: absolute;
    bottom: -24px;
    right: 0;
    left: 0;

    .btnCircle {
        margin: 0 4px;
    }
}

.publish-location {
    background: url(../img/bg-publish-location.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px auto 30px;

    .btn {
        font-size: 12px;
        line-height: 12px;
        border: 1px solid $purple;
        text-align: left;
        border-radius: 4px;
        min-width: 200px;
        width: auto;
        max-width: 85%;
        padding: 8px 6px;

        @include centerFlex;

        .icon {
            width: 12px;
            height: 12px;
            top: 0;
        }

        &.active {

            top: 0;
            justify-content: initial;
        }
    }
}
// !STEP FINSH

.publishAutocomplete {
    position: fixed;
    background-color: #FFF;
    height: 100%;
    width: 100%;
    top: 0;
    transform: translateX(100%);
    transition: transform .2s ease;

    &.active {
        transform: translateX(0);
    }
}

.publishAutocomplete-field {
    font-size: 20px;
    font-weight: 900;
    color: $purple;
    padding: 8px 18px;
    border-bottom: 1px solid #999;
}

// SUGESTOES #999
body {
    &.location-active {
        .pac-container {
            display: block !important;
        }
    }
}

.pac-container {
    font-family: $font;
    box-shadow: none;
    border: none;
    left: 0px !important;
    top: 96px !important;
    position: fixed !important;

    .pac-item-query {
        font-size: 18px;
        font-weight: bold;
        line-height: 16px;
        color: $black;

        + * {
            font-size: 12px;
            color: #808080;
            display: block;
            margin-top: 4px;
        }
    }

    .pac-item {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding: 18px 18px 12px;
        padding-left: 48px;
        line-height: normal;
        white-space: normal;

        .pac-matched {
            font-weight: 900;
        }

        &:first-child {
            border-top: none;
        }

        .pac-icon-marker {
            position: absolute;
            left: 16px;
            background:  url(../img/publish-autocomplete-location.svg);
            width: 18px;
            height: 24px;
            top: 0;
            bottom: 0;
            margin: auto;
        }

    }
}
