.singleOfferHeader {
    background-color: rgba(128, 128, 128, 0.4);
    color: transparent;

    .icon {
        fill: #FFF;
    }

    &.js-active {
        color: $purple;
        background-color: #FFF;

        .icon {
            fill: $purple;
        }
    }

    .singleOfferHeader-shared {
        padding-right: 6px;
    }

    .singleOfferHeader-option {
        padding-left: 6px;
    }
}

.singleOffer {
    .singleOffer-img {
        margin: auto;
        display: block;
    }

    .singleOffer-name {
        font-size: 16px;
        font-weight: normal;
        float: left;
    }
    .singleOffer-price {
        font-size: 24px;
        color: $purple;
        line-height: 20px;
        padding: 18px 0 4px;
        display: block;
    }

    .singleOffer-action {
        float: right;
    }

    .singleOffer-btn {
        display: inline-block;
        padding: 6px 0 0 8px;

        .icon {
            fill: $grey;
        }

        .icon-comment {
            width: 34px;
            height: 34px
        }

        .icon-pig {
            width: 40px;
            height: 40px;
        }

        &.active {
            .icon {
                fill: $purple;
            }

            .singleOffer-btn-count {
                background-color: $purple;
            }
        }

        .singleOffer-btn-count {
            font-size: 8px;
            font-weight: bold;
            color: #FFF;
            text-align: center;
            background-color: $grey;
            border-radius: 4px;
            display: block;
            width: 86%;
            margin: auto;
            position: relative;
            top: -4px;
        }
    }

    .singleOffer-info {
        font-size: 14px;
        font-weight: normal;
        padding: 20px 0 16px;
        border-bottom: 1px solid #dad5db;
        clear: both;
    }

    .singleOffer-time,
    .singleOffer-location {
        color: #808080;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 20px 16px 14px;
        padding-left: 26px;
        display: block;
        position: relative;

        .icon {
            fill: $purple;
            position: absolute;
        }
    }

    .singleOffer-time {
        .icon {
            width: 16px;
            height: 16px;
            top: -2px;
            left: 0;
        }
    }

    .singleOffer-location {
        .icon {
            width: 20px;
            height: 20px;
            top: 2px;
            left: -2px;
        }
    }

    .singleOffer-location-name {
        color: #4a4a4a;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 12px;
        text-decoration: underline;
        display: block;
    }

    // BUTTONS ACTIONS
    .btn {
        margin: 16px 0;

        &:last-child {
            margin-bottom: 24px;
        }
    }

    .singleOffer-user {
        border-top: 1px solid #dad5db;
        padding: 20px 0 22px;
        display: flex;
        align-items: center;
        justify-content: center;

        .singleOffer-user-img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }

        .singleOffer-user-name {
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
            color: #808080;
            margin-left: 6px;

            .singleOffer-user-name-link {
                color: $purple;
                font-weight: 900;
                font-size: 12px;

                &:before {
                    content: "";
                    display: block;
                }
            }
        }
    }

    .menu {
        position: absolute;
    }
}
