main.offerMain {
    padding-top: 46px;
}

.offer-list {
    padding: 18px 8px 16px;
    position: relative;
    min-height: calc(100vh - 188px);

    .offer-distance {
        font-size: 10px;
        text-align: center;
        text-transform: uppercase;

        color: $purple;
        background-color: #fff;
        border-radius: 50px;

        line-height: 26px;
        height: 24px;
        min-width: 120px;
        max-width: 130px;

        position: absolute;
        top: 16px;

        // activar isso quando passar de uma certa altura


        right: 0;
        left: 0;
        margin: auto;
        z-index: $z-index-menu - 1;
        transition: top 0.2s ease;

        &.js-active {
            position: fixed;
            top: 50px;
            box-shadow: 0px 0px 5px -2px #000;
        }

        .icon-location {
            fill: $purple;
            width: 12px;
            height: 12px;

            position: relative;
            top: 2px;
            margin-right: 2px;
        }
    }
}

.offer {
    width: 50%;
    float: left;
    padding: 8px;

    @media (min-width: $phone-large-min) {
        width: 33.3%;
    }

    .offer-figure {
        display: inline-block;
        vertical-align: top;
    }

    .offer-img {
        border-radius: 10px 10px 0 0;
        margin: auto;
        display: block;
    }

    .offer-body {
        padding-top: 12px;
        background-color: #fff;
        border: 1px solid #ebebeb;
        border-radius: 0 0 10px 10px;
    }

    %offer-padding {
        margin: 0 12px;
    }

    .offer-body-price {
        font-size: 20px;
        font-weight: normal;
        color: $purple;

        display: block;
        margin-bottom: 4px;
        @extend %offer-padding;
    }

    .offer-body-description {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: $black;

        @extend %offer-padding;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .offer-body-location {
        color: $black;
        font-size: 12px;
        text-decoration: underline;
        position: relative;
        top: -6px;
        @extend %offer-padding;
        padding-left: 14px;
    }

    .icon-map {
        fill: $black;
        width: 10px;
        height: 10px;

        position: absolute;
        top: 2px;
        left: 0;
    }

    .offer-actions {
        text-align: center;
        border-top: 1px solid #ebebeb;
        margin-top: 6px;

        .offer-actions-btn {
            color: #ccc;
            padding: 6px 10px 2px;
            width: 50%;
            float: left;
            white-space: nowrap;

            &:first-child {
                border-right: 1px solid #ebebeb;
            }

            .offer-actions-btn-count {
                font-size: 10px;
                font-weight: bold;
                position: relative;
                top: -6px;


                @media (min-width: $phone-small-min) {
                    font-size: 12px;
                    margin-left: 4px;
                }
            }

            .icon {
                fill: #ccc;
                width: 22px;
                height: 22px;
            }

            &.active {
                color: $purple;

                .icon {
                    fill: $purple;
                }
            }
        }
    }
}
