.btn {
    font-size: 14px;
    font-family: $font;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #ccc;
    padding: 12px;
    width: 100%;
    display: block;
    cursor: pointer;

    .icon {
        width: 16px;
        height: 16px;
        position: relative;
        top: 4px;
        margin-right: 4px;
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

// BTN COLORS
.btn-purple {
    background-color: $purple;
}

.btn-black {
    background-color: #4d4d4d;
}

.btn-white {
    background-color: #FFF;
    color: $purple;
}

.btn-blue {
    background-color: #0055a8;
}

// BTN CIRCLE
.btnCircle {
    width: 46px;
    height: 46px;
    background-color: $purple;
    border-radius: 50%;
    padding: 14px 0;

    .icon {
        fill: #FFF;
        width: 18px;
        height: 18px;
    }
}
