.category {
    width: 200px;
    margin: auto;
}

.category-type {
    display: inline-block;
    width: 80px;
    margin: 6px 0;
    cursor: pointer;

    .icon {
        width: 60px;
        height: 60px;
        fill: $grey;
        // DEPOIS MELHORAR, remover borda do SVG e deixar no CSS
        transition: all 0.2s ease;

    }

    label {
        display: block;
        cursor: pointer;
    }

    input {
        display: none;

        &:checked {
            + .icon {
                fill: $purple;

                + .category-type-name {
                    color: $purple;
                }
            }
        }
    }
}

.category-type-name {
    font-size: 10px;
    color: $grey;
    text-transform: uppercase;
    display: block;
    transition: color 0.2s ease;
}

.category {
    margin: 20px auto 30px;
}
