.header {
	background: $purple;
	height: 46px;
	position: fixed;
	width: 100%;
	top: 0;
	display: flex;
	align-items: center;
	z-index: $z-index-menu;

	+ main {
		padding-top: 68px;
    }

    .icon {
        fill: #FFF;
    }
}

.header-title {
	color: #FFF;
	font-weight: 900;
	font-size: 18px;
	text-transform: uppercase;
    padding: 2px 4px 0;
    margin-right: auto;
}

.header-logo {
	margin: 12px 14px;
	float: left;
}

.header-btnSearch {
	padding: 14px 14px 8px;
	margin-left: auto;

	.icon {
		width: 20px;
		height: 20px;
	}
}

// HEADER ACTION
.header-action {
    padding: 16px 12px;
    display: inline-flex;

    .icon {
        width: 20px;
        height: 20px;
        fill: #FFF;
    }
}

.header-action-purple {
    .icon {
        fill: $purple;
    }
}

.header-action-absolute {
    position: absolute;
    left: 0;
    top: 0;
}
