.imgAdd {
    width: 100%;
    height: 264px;
    border: 2px dashed #e7d2ea;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px auto 30px;
    cursor: pointer;

    .icon {
        width: 56px;
        height: 56px;
        fill: $purple;
        position: relative;
        left: 5px;
    }

    input {
        display: none;
    }
}
