.menu {
    background-color: #fff;
    position: fixed;
    border-top: 1px solid #ccc;
    bottom: 0;
    // bottom: 500px;
    width: 100%;
    height: 54px;
    z-index: $z-index-menu;

    .menu-link {
        color: #808080;
        float: left;
        width: 20%;
        height: 54px;
        padding: 10px 0;
        text-align: center;

        &.active {
            color: $purple;

            .icon {
                fill: $purple;
            }
        }
    }

    .menu-link-name {
        font-size: 8px;
        text-transform: uppercase;
        display: block;
        font-weight: 900;
        margin-top: -2px;
    }

    .icon {
        fill: #808080;
        width: 22px;
        height: 22px;
    }

    .icon-menu-pig {
        width: 30px;
        // height: 30px;
    }

    .icon-menu-add {
        fill: $purple;
        width: 34px;
        height: 34px;
    }
}
