.navCategory-title {
	font-size: 12px;
	color: $purple;
	margin: 0 14px;
}

.navCategory {
	padding: 14px;
	overflow: auto;
	white-space: nowrap;
	margin: auto;
	display: block;

	.navCategory-link {
		display: inline-block;
		text-align: center;

		&:first-child {
			.icon {
				margin-left: 0;
				position: relative;

				&:before {
					background-color: $purple;
					border-radius: 50%;
					fill: #fff;
					position: absolute;
					content: "";
				}
			}
		}

		&.active {
			.icon {
				// background-color: $purple;
				// border-radius: 50%;
				// fill: #fff;
			}
		}

		.icon {
			width: 65px;
			height: 65px;
			margin: 0 6px;
			fill: $purple;
			display: inline-block;
			// border-radius: 50%;
			// border: 1px solid $purple;



			@media (min-width: $phone-min) {
				width: 72px;
				height: 72px;
				margin: 0 12px;
			}
		}

		.navCategory-link-name {
			font-size: 10px;
			color: $purple;
			text-transform: uppercase;
			display: block;
		}
	}
}
