@import "helpers/_var-media-queries";
@import "helpers/_var-general-functions";
@import "mixins/_inputPlaceholder";
@import "mixins/_textEllipsis";
@import "mixins/_centerFlex";
@import "general/fonts";
@import "helpers/_reset";

body {
	max-width: 480px;
	display: block;
	margin: auto;

	.header,
	.menu,
	.headerWhite,
	.commentsAdd {
		max-width: 480px;
		margin: auto;
		left: 0;
		right: 0;
	}
}

.hide {
	display: none;
}

.clear {
	&:after,
	&:before {
		content: "";
		clear: both;
		display: block;
	}
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

@import "components/_header";
@import "components/_navCategory";
@import "components/_offer";
@import "components/_menu";
@import "components/_search";
@import "components/_headerWhite";
@import "components/_imgAdd";
@import "components/_category";

// FORM
@import "components/_inputGroup";
@import "components/_checkboxRadiobutton";
@import "components/_btn";


// PAGES
@import "pages/_login";
@import "pages/_loginCreateAccount";
@import "pages/_singleOffer";
@import "pages/_comments";
@import "pages/_alerts";
@import "pages/_publish";
@import "pages/_favorites";
@import "pages/_profileUser";


// UTILITIES
@import "helpers/_utilities";
